HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.vagrant/machines/docker/virtualbox/action_provision
.vagrant/machines/docker/virtualbox/action_set_name
.vagrant/machines/docker/virtualbox/box_meta
.vagrant/machines/docker/virtualbox/creator_uid
.vagrant/machines/docker/virtualbox/id
.vagrant/machines/docker/virtualbox/index_uuid
.vagrant/machines/docker/virtualbox/private_key
.vagrant/machines/docker/virtualbox/synced_folders
.vagrant/machines/docker/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
